.deckers {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;

}
.deckers-top {
    flex: 1;
    background-color: rgb(100, 98, 98);

}
.deckers-top ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 0;
}
.bottom {
    display: flex;
    flex-direction: row;
    
}