.newsletter {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4eeed;
}
.newsletter h1 {
    font-size: 3rem;
    color: #121212;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.newsletter h2 {
    font-size: 2.5rem;
    color: #0b0b0b;
    text-align: center;
}

.newsletter p {
    font-size: 1.5rem;
    color: #191919;
    text-align: center;
    max-width: 800px;
    padding: 0 10px;
}
.top {
    flex: 1;
}

.bottom {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.partionCenter {
    flex: 5;
    min-width: 500px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.newsletter form {
    line-height: 1.7;
    text-align: center;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
form label {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    display: block;
    margin-bottom: 5px;
    width: 100%;
}
form input {
    width: 100%;
    max-width: 100%;
    height: 45px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.required {
    color: red;
    font-size: 16px;
}

.buttonn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}
.buttonn:hover {
    background-color: rgb(90, 164, 228);
    transform: scale(1.05);
}
@media screen and (max-width: 768px) {
    .newsletter h1 {
        font-size: 2.5rem;
    }

    .newsletter h2 {
        font-size: 2rem;
    }

    .newsletter p {
        font-size: 1.2rem;
    }

    .bottom {
        flex-direction: column;
        align-items: center;
    }

    .partionSide {
        display: none;
    }

    .partionCenter {
        flex: 1;
        width: 100%;
    }

    form input {
        max-width: 100%;
    }

    .buttonn {
        width: 100%;
        max-width: 300px;
    }
}
